body {
    background-color: rgb(138, 126, 13);
}

.infomation {
 color: black;
}

button {
    background-color: rgb(9, 122, 122);
    color: white;
}

input {
    background-color: grey;
    color: rgb(255, 255, 255);
    
}

::placeholder {
    color: rgb(247, 243, 243);
    opacity: 0.5; /* Firefox */
  }

  #main {
margin-top:  20px;
  }

  .que {
    background-color: gold;
  }